#title {
    text-align: center;
    font-size: 100px;
    color: White;
    font-family: Ariel, sans-serif; 
}

#intro {
    text-align: center;
    bottom: 400px;
    top: 200px;
    color: White;
    font-family: Ariel, sans-serif; 
}


body {
    background-image: url("BackgroundforJutoWebsitehomepage.jpg");
}

