#Juto-title {
  text-align: center;
  margin-top: 10px;
  font-size: 200px;
  color: White;
  padding-top: 10px;
  margin-bottom: 63px; 
  font-family: Ariel, sans-serif; 
}

body {
  background-image: url("BackgroundforJutoWebsitehomepage.jpg");
}

#Slogan {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: White;
    font-family: Ariel, sans-serif; 
}

#Company-Description {
  text-align: center;
  color: White;
  font-size: 30px;
  font-family: Ariel, sans-serif; 
}

#Juto-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 125px;
  height: 125px;
  margin-top: 1px;
}

#Banner-image {
  width: 756px;
  height: 456px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: White;
  font-size: 50px;
  margin-top: 500px; 
  font-family: Ariel, sans-serif; 
}

a:visited {
  color: White;
  font-size: 50px;
  margin-top: 500px; 
  font-family: Ariel, sans-serif; 
}

a:hover {
  color: White;
  font-size: 50px;
  margin-top: 500px; 
  font-family: Ariel, sans-serif; 
}

a:active {
  color: White;
  font-size: 50px;
  margin-top: 500px; 
  font-family: Ariel, sans-serif; 
}











